# ===== API =====
fastapi==0.128.0
uvicorn[standard]==0.40.0

# ===== Banco de dados =====
sqlalchemy==2.0.29
psycopg2-binary==2.9.9

# ===== Configuração =====
python-dotenv==1.0.1

# ===== Validação / Config =====
pydantic==2.7.4
pydantic-settings==2.3.4

# ===== Ciência de Dados =====
numpy==1.26.4
pandas==2.2.2

# ===== Visualização =====
matplotlib==3.8.4

# ===== Cálculo Científico =====
scipy==1.13.0

# ===== Geoprocessamento =====
shapely==2.0.4
pyproj==3.6.1
geopandas==0.14.4
fiona==1.9.6
