# =========================
# API
# =========================
fastapi==0.128.0
uvicorn==0.40.0
starlette==0.50.0
anyio==4.12.1
h11==0.16.0
httptools==0.7.1
uvloop==0.22.1
watchfiles==1.1.1
websockets==16.0

# =========================
# Banco de Dados
# =========================
SQLAlchemy==2.0.29
psycopg2-binary==2.9.9
greenlet==3.3.0

# =========================
# Configuração
# =========================
python-dotenv==1.0.1
PyYAML==6.0.3

# =========================
# Validação
# =========================
pydantic==2.7.4
pydantic_core==2.18.4
pydantic-settings==2.12.0
annotated-types==0.7.0
annotated-doc==0.0.4
typing_extensions==4.15.0
typing-inspection==0.4.2

# =========================
# Ciência de Dados
# =========================
numpy==2.2.6
pandas==2.3.3
python-dateutil==2.9.0.post0
pytz==2025.2
tzdata==2025.3
six==1.17.0

# =========================
# Manipulação de Arquivos
# =========================
openpyxl==3.1.5
et_xmlfile==2.0.0

# =========================
# Geoprocessamento
# =========================
shapely==2.1.2

# =========================
# Utilidades comuns em FastAPI
# =========================
python-multipart==0.0.22
requests==2.32.5
urllib3==2.6.3
charset-normalizer==3.4.5
idna==3.11
certifi==2026.2.25

# =========================
# CLI / Utilidades
# =========================
click==8.3.1
exceptiongroup==1.3.1

# =========================
# OAuth2 e Segurança
# =========================
python-jose==3.3.0
passlib==1.7.4
bcrypt==4.0.1
